<% @myrentalitems.each do |myrentalitem| %>
	<div class = "project"><p><%= myrentalitem.title %><br/>
		<%= myrentalitem.description %></p></div>
<% end %>
	<%= link_to "Add item", new_my_rental_item_path %>
