<h1>Your Bookings</h1>
<% @rentals.each do |rental| %>
	<div><%= rental.id %></div>
	<% if RentalItem.exists?(rental.rental_item) %>
		<div><%= RentalItem.find(rental.rental_item).title %></div>
		<!-- add condition handling if item is deleted -->
	<% end %>
	<div>Start Date: <%= rental.start_date %></div>
	<div>End Date: <%= rental.end_date %></div>
	<br/>
<% end %>