<h1>Listing Rentals</h1>

<% @rentals.each do |rental| %>

	<div><p><%= rental.title %></br>
			<%= rental.description %><br />
			<%= rental.price_per_day %><br />
			<%= rental.price_per_week %><br /></p>
	</div>

<% end %>